/* 
    Document   : estilos
    Created on : 27.09.2013, 12:14:31
    Author     : HH
    Description:
        Purpose of the stylesheet follows.
*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.tamanoIconoMantenimiento {
    width: 16px;
    height: 16px;
}

.etiquetaCount{
    height: 18px;
    background-color: #eee;
    margin: 0px;
    margin-left: 5px;
    padding: 5px;
    font-size: 12px;
}